body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  box-sizing: border-box;
}

body div {
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (min-width: 960px) {
.mob {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .desktop {
    display: none;
  }
}
